<!-- password_reset.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        /* CSS styles here */
    </style>
</head>

<body>

    <div class="container">
        <h2>Password Reset</h2>
        <form id="password-reset-form" method="post">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <button type="button" onclick="submitForm()">Reset Password</button>
        </form>
    </div>

    <script>
        function submitForm() {
            const newPassword = document.getElementById('new_password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            if (newPassword !== confirmPassword) {
                alert('Passwords do not match');
                return;
            }
            // Get form data
            const form = new FormData(document.getElementById('password-reset-form'));
            const formData = {};
            form.forEach((value, key) => {
                formData[key] = value;
            });
            const password = {
                password: formData.password
            }
            const token = '<%= token%>'
            // Send PATCH request using fetch API
            fetch(`/user/resetPassword/${token}`, {
                method: 'PATCH',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(password)
            })
                .then(response => {
                    // Handle response
                    if (response.ok) {
                        // Handle success
                        alert('Password Changed')
                    } else {
                        // Handle error
                        console.log(response)
                        alert('Could not change password')
                    }
                })
                .catch(error => {
                    // Handle error
                    console.log(error.message)
                });
        }
    </script>

</body>

</html>